@charset "UTF-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0;
	font-family: 'Roboto', sans-serif;
	background:#FFFFFF;
}


.container-fluid {
	background:#FFFFFF;
}

.logo {
	margin-top: 10%;
}



.fecha {
	margin-top:15px;
}

.calendario {
	text-align:center;
	margin:0 auto;
	padding-top:15px;
	
}

.indicator {
	background:#ebebeb;
	margin:20px 40px 40px 40px;
	text-align:center;
	color:#2f939d;
	height:auto;
	width:90%;
}

.nota_datos{
	color:#e3101c;
	font-size:12px;
	background:#ebebeb;
	margin-top:3%;
	padding-bottom:2%;
	
}

.nota_datos_verde{
	color:#2ba948;
	font-size:12px;
	background:#ebebeb;
	margin-top:3%;
	padding-bottom:2%;
	
}

.tit_datos{
	font-size:17px;
	background:#245359;
	padding:2%;
	color:#ffffff;
}

.numero_datos{
	font-size:30px;
	background:#ebebeb;

	
}

.pp {
	background:#ebebeb;
	line-height:18px;
	padding:2%;
}

.ret {
	background:#ebebeb;
	line-height:18px;
	padding:2%;
}


.home_circulo_reposo
{
    position: absolute;
    width: 30%;
    top: 20%;
    left: 39%;

}

.circulo {
	width: 33%;
	margin-top:1	%;
	height:auto;
}

#caja {
	padding:0.25%;
	display: inline-block;
}

.clearfix {
	overflow: auto;
}

#sensor_iva {
	display: block;
    position: absolute;
    background-color: transparent;
    top: 9%;
    left: 38%;
    width: 12%;
    height: 26%;
    cursor: pointer;
    border-radius: 25%;
	}
	

#sensor_isr {
	display: block;
    position: absolute;
    background-color: transparent;
    top: 18%;
    left: 54%;
    width: 10%;
    height: 25%;
    cursor: pointer;
    border-radius: 25%;
	}	
	
#sensor_ieps {
	display: block;
    position: absolute;
    background-color: transparent;
    top: 51%;
    left: 57%;
    width: 7%;
    height: 35%;
    cursor: pointer;
    border-radius: 25%;
	}
	
#sensor_isan {
	display: block;
    position: absolute;
    background-color: transparent;
    top: 71%;
    left: 41%;
    width: 13%;
    height: 26%;
    cursor: pointer;
    border-radius: 25%;
}

#sensor_ietu {
	display: block;
    position: absolute;
    background-color: transparent;
    top: 37%;
    left: 33%;
    width: 10%;
    height: 33%;
    cursor: pointer;
    border-radius: 25%;
	}


div {
	/*background-color: #fefefe;*/
	/*border: #fff sólido 1px;
	font-family: Roboto;*/
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.menu-control {
	background-color: #235359;
	color: #fff;
	padding: 5%;
	cursor: puntero;
}

.menu-item {
	background-color: #999;
	color: #fff;
	padding: 4%; 
	font-size: 10px;
}

.menu-item:hover {
	background-color:#c0bfc0;
}


.icon-menu:before {
  content: "\2630";
}

.icon-circle-down:before {
  content: "\2304";
}


.icontop {
	width: 13%;
	margin-top: 10%;
}


h1 {
	line-height:28px;
	font-size: 20px;
	color: #504b50;
}

h2 {
	font-size:25px;
}

h3 {
	color:#2f939d;
	font-size:20px;
	font-weight:normal;
	text-align:center;
	
}

h4 {
	color:#2f939d;
	font-size:14px;
	font-weight:normal;
}

h5 {
	color:#ffffff;
}

p {
	font-size:14px;
}

a:-webkit-any-link{
	color:#666666;
	text-decoration:none;
}


#launcher{display: block; position: absolute; left: 2.5%; top: 5%; width: 95%; height: 90%; background-color: transparent; border:0px;}

#close_config
{
    display: block;
    position: absolute;
    left: 92.5%;
    top: 2.5%;
    height: auto;
    font-size: 16px;
    text-align: center;
    color: #aa0000;
    cursor: pointer;
    z-index: 99999999999;
}

.mi_modal_body{
	overflow: hidden;
}

.mi_modal{
    /* new custom width */
    width: 1130px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -250px;
}

.btns_modal span{
	color: #fff !important;
}

.modal-backdrop.in {
	opacity: 0.1;
  	background:transparent;
}

.box_groups {
	cursor: pointer; 
	border-bottom:solid 1px; 
	padding: 7px 0 0 0;
}
.image_down {
   
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}